{% extends "base.html" %}
{% block content %}
	<h5 style="text-align: center; margin-bottom: 10px;">Offer your own writing center appointment.</h5>
	<div style="margin-left: auto; margin-right: auto; width: 400px;">
		<form class="form" action="submitOffer">
			<table>
				<tr>
					<td style="width: 50px; text-align: right;"></td>
					<td style="width: 20px;"></td>
					<td style="width: 300px; text-align:center"></td>
				</tr>
				<tr>
					<td style="text-align: right;">Name</td>
					<td></td>
					<td><input type="text" name="name" style="height: 35px; width:300px"></input></td>
				</tr>
				<tr>
					<td style="text-align: right;">Date</td>
					<td></td>
					<td style="height: 35px; width:300px">
						<select name="date">
							{% for date in dates %}
								<option value="{{date.year}}_{{date.month}}_{{date.day}}">{{date|date:"l, F j"}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td style="text-align: right;">Time</td>
					<td></td>
					<td style="height: 35px; width:300px">
						<select name="time">
							{% for time in times %}
								<option value="{{time}}">
								{% if time < 12 %}
									{{time}}:00 a.m.
								{% endif %}
								{% if time == 12 %}
									12:00 p.m.
								{% endif %}
								{% if time > 12 %}
									{{time|add:"-12"}}:00 p.m.
								{% endif %}
								</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<input type="submit" value="Offer" style="float: right;" class="btn btn-primary"></input>
						<a class="btn btn-link" style="float: right; margin-right: 5px;" href="/">Back</a>
					</td>
				</tr>
			</table>
		</form>
	</div>	
{% endblock %}